<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <authentication>
                <anonymousAuthentication password="[enc:AesProvider:HMtOUpbYNKgYxqL5y3CwdOpxdfxuWlJjoYNI1FxuiLXzyU8XeJLOoqf/j2ifSk7T:enc]" />
            </authentication>
        </security>
    </system.webServer>
</configuration>
