<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->language; ?>" lang="<?php echo $this->language; ?>" dir="<?php echo $this->direction; ?>" >
<head>
<script type="text/javascript" src="/jsor-jcarousel/lib/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="/jsor-jcarousel/lib/jquery.jcarousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="/jsor-jcarousel/skins/tango/skin.css" />

<script type="text/javascript">

jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel();
});
</script>
</head>

<body TOPMARGIN=0 LEFTMARGIN=0 MARGINHEIGHT=0 MARGINWIDTH=0>

<table border=0>
<tr>
	<td>
		<a target="_new" href="http://www.gruporotadobrasil.com.br/"><img src="/img/logo_gruporotal_mini.png" width="212" alt="" border="0" /></a>
	</td>
	<td>
		<div id="wrap">
		  <ul id="mycarousel" class="jcarousel-skin-tango">
			<li><a target="_blank" href="http://www.rotaconstrutora.com.br/"><img src="http://gruporota.webca.com.br/img/logos_212_color/logo_construtora.png" width="212" alt="" border="0" /></a></li>
			<li><a target="_blank" href="http://rotaengenharia.webca.com.br/"><img src="http://gruporota.webca.com.br/img/logos_212_color/logo_engenharia.png" width="212" alt="" border="0" /></a></li> 
			<li><a target="_blank" href="http://www.rotacontabil.com.br/"><img src="http://gruporota.webca.com.br/img/logos_212_color/logo_contabil.png" width="212" alt="" border="0" /></a></li>
			<li><a target="_blank" href="http://www.fundacaorotadobrasil.org/"><img src="http://gruporota.webca.com.br/img/logos_212_color/logo_logistica.png" width="212" alt="" border="0" /></a></li>
			
			<!--
			<li><a target="_blank" href="http://www.rotacontabil.com.br/"><img src="http://fundacaorota.webca.com.br/img/logos_212_color/logo_seven.png" width="212" alt="" border="0" /></a></li>
			<li><a target="_blank" href="http://www.apalapala.com/"><img src="http://fundacaorota.webca.com.br/img/logos_212_color/logo_palapala1.png" width="212" alt="" border="0" /></a></li> -->
		  </ul>
		</div>
	</td>
</tr>
</table>
</body>

</html>